body             { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; color: white;}

h2 span, section h3, label.rem 
                 { display: none; }

body             { font-size: xx-large; }
input, button    { font-size: xx-large; }
footer           { font-size: x-large; }
